.floatClear:after{content:"";display:table;clear:both}.floatLeft{float:left;display:inline-block;clear:none}.floatRight{float:right;display:inline-block;clear:none}.hidden{display:none}.center{text-align:center}