/* Variables */
@import "globalVariables.less";

body {
    font-family: @MainFont;
}

.contentWrapper {
    .center;
}

.content {
    width: 960px;
    padding: 0 20px;
    margin: 0 auto;
    border: 0;
    border-left: 2px solid @DarkGray;
    border-right: 2px solid @DarkGray;
    height: 100vh;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    text-align: left;
}

.header {
    height: 90px;
    line-height: 80px;
    text-align: center;
    font-family: @HeaderFont;
    font-weight: bold;
    font-size: 18px;
    text-shadow: -2px 2px 3px #333;
}

.gnuImage {
    .floatRight;
    margin: 10px;
}